exports/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "red-team",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        60
      ],
      "id": "966f7181-2815-4bb2-952e-3fbfb8e06bb2",
      "name": "Webhook",
      "webhookId": "763477b0-d684-43e9-8e2a-0362864ac082"
    },
    {
      "parameters": {
        "command": "={{ 'cd /home/sai/codex-workspace/netlab && sudo /usr/bin/python3 /home/sai/codex-workspace/netlab/run_attack.py ' + ($json.query?.attack || 'syn_flood') }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -220,
        60
      ],
      "id": "9d5a88e4-56a3-49b9-b3a1-f34141daa150",
      "name": "SSH",
      "credentials": {
        "sshPassword": {
          "id": "Kf4bkm3xT7JUjUHd",
          "name": "SSH Password account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', attack: $json.query?.attack || 'syn_flood', message: 'Attack triggered on Arch VM', stdout: $json.stdout || '', timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4f420d58-8623-4d2e-8c06-f96cc6e0a009",
      "name": "Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'SSH command failed — is Arch VM running?', error: $json.error?.message || 'Unknown error', timestamp: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 502
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        160
      ],
      "id": "1bdb45b1-f552-4fc8-9e46-125157951a73",
      "name": "Error Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e573aad8-299b-493e-a28d-402bde80f1c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e98c3658e8d7c94f54b52baed59345bbc45ba97c7d007794159f22d1bd3297b"
  },
  "id": "4j8Hcld97qehWo0Z",
  "tags": []
}